body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

input,select {
    background: #fff;
}

.parent {
    display: flex;
    gap: 16px;
}

.canvas {
    width: 50%;
    padding: 10px;
    height: 90vh;
    margin: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(7, 105, 180, 0.44);
    -moz-box-shadow: 0px 5px 10px 2px rgba(7, 105, 180, 0.44);
    box-shadow: 0px 5px 10px 2px rgba(7, 105, 180, 0.44);
    border-radius: 10px;
}

.canvas-container {
    width: 50%;
}

.editor {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: -8px 5px 10px 2px rgba(16, 128, 234, 0.2);
    -moz-box-shadow: -8px 5px 10px 2px rgba(16, 128, 234, 0.2);
    box-shadow: -8px 5px 10px 2px rgba(16, 128, 234, 0.2);
}

.editor div {
    width: 40%;
}

.editor div:nth-child(1) {
    width: 100%;
}

.editor div label {
    margin-bottom: 20px;
}

.button-group {
    padding: 5px;
    margin: 10px;
    width: 45%;
}

#controls input[type="file"] {
    margin-bottom: 10px;
}

#controls input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#controls button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.editor select, input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.editor input[type="color"] {
    padding: 0 2px 0 2px;
    border-radius: 10%;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background: #ffffff;
    align-self: center;
    text-align: center;
}

#controls button:hover {
    background-color: #0056b3;
}

#controls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Drag n drop */

.dropzone {
    width: 45%;
    border: 2px dashed #007BFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9;
    position: relative;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 10px;
}

.dropzone.dragover {
    background-color: #e0f7fa;
}

.dropzone img {
    max-width: 50px;
    margin-bottom: 10px;
}

.dropzone p {
    font-size: 16px;
    color: #666;
    margin: 0;
}

.dropzone input[type="file"] {
    display: none;
}

.tshirt-image {
    display: block;
    width: 50%;
    background: #ffffff;
    margin: 0 5px 0 5px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-box-shadow: -1px 8px 25px 2px rgba(0, 144, 255, 0.2);
    -moz-box-shadow: -1px 8px 25px 2px rgba(0, 144, 255, 0.2);
    box-shadow: -1px 8px 25px 2px rgba(0, 144, 255, 0.2);
}

.active {
    -webkit-box-shadow: -2px 1px 32px -6px rgba(255, 108, 11, 0.82);
    -moz-box-shadow: -2px 1px 32px -6px rgba(255, 108, 11, 0.82);
    box-shadow: -2px 1px 32px -6px rgba(255, 108, 11, 0.82);
}

.tshirt-image-container {
    display: flex;
    height: 200px;
}

.upper-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: -8px 5px 10px 2px rgba(16, 128, 234, 0.2);
    -moz-box-shadow: -8px 5px 10px 2px rgba(16, 128, 234, 0.2);
    box-shadow: -8px 5px 10px 2px rgba(16, 128, 234, 0.2);
}

.box-shadow-main {
    -webkit-box-shadow: -8px 5px 10px 2px rgba(16, 128, 234, 0.2);
    -moz-box-shadow: -8px 5px 10px 2px rgba(16, 128, 234, 0.2);
    box-shadow: -8px 5px 10px 2px rgba(16, 128, 234, 0.2);
}

.cursor-point {
    cursor: pointer;
}

/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */

@media all and (min-width: 1024px) and (max-width: 1280px) {
    .canvas-container {
        width: 500px !important;
        height: 650px !important;
    }
    .parent {
        gap: normal;
    }

    .button-group {
        padding: 5px;
        margin: 5px;
        width: 50%;
    }

    .tshirt-image-container {
        height: 150px;
        padding-right: 5px;
        justify-content: flex-end;
    }

    .dropzone {
        margin-bottom: 5px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .parent {
        padding: 0;
        gap: 0;
        width: 740px;
    }

    .canvas-container {
        height: 57vh !important;
    }

    .canvas {
        height: 57vh;
        margin-right: 3px;
    }

    .lower-canvas,.upper-canvas {
        height: 57vh !important;
    }

    .button-group {
        margin: 5px 5px 0 0;
    }

    .upper-container {
        display: block;
        height: 300px;
        -webkit-box-shadow: 11px -22px 70px -3px rgba(12, 130, 242, 0.28);
        -moz-box-shadow: 11px -22px 70px -3px rgba(12, 130, 242, 0.28);
        box-shadow: 11px -22px 70px -3px rgba(12, 130, 242, 0.28);
    }

    .tshirt-image-container {
        height: 140px;
        margin-bottom: 5px;
    }

    .dropzone {
        font-size: small;
        margin-bottom: 0;
        right: 0px;
        position: relative;
        bottom: 0px;
        width: 100%;
        height: 150px;
    }

    .editor {
        justify-content: space-around;
        -webkit-box-shadow: 45px 17px 70px -3px rgba(12, 130, 242, 0.21);
        -moz-box-shadow: 45px 17px 70px -3px rgba(12, 130, 242, 0.21);
        box-shadow: 45px 17px 70px -3px rgba(12, 130, 242, 0.21);
    }

    .editor div {
        margin-bottom: 10px;
        width: auto;
    }

    .editor div label {
        margin: 0;
    }
}

@media all and (min-width: 480px) and (max-width: 767px) {

    .parent {
        display: flex;
        flex-direction: column-reverse;
        width: 460px;
    }

    .canvas {
        padding: 2px;
        margin: 0 5px 10px 5px;
        width: 479px;
        height: 70vh;
    }

    .button-group {
        padding: 0;
        margin: 5px;
        width: 480px;
    }

    .upper-container {
        box-shadow: 1px 1px 4px 0 rgba(16, 128, 234, 0.2)
    }

    .editor {
        padding: 10px;
        width: 460px;
        box-shadow: 1px 1px 3px 2px rgba(16, 128, 234, 0.2);
    }

    .tshirt-image-container {
        height: 150px;
        width: 100%;
    }

    .dropzone {
        width: 80%;
        margin-bottom: 0;
    }

    .canvas-container {
        width: 100%;
    }
}

@media all and (max-width: 480px) {
    .parent {
        display: flex;
        flex-direction: column-reverse;
        width: 405px;
        position: relative;
        padding: 5px;
    }

    .canvas {
        padding: 2px;
        margin: 0 5px 10px 5px;
        width: 98%;
        height: 70vh;
    }

    .button-group {
        padding: 0;
        margin: 5px;
        width: 98%;
    }

    .upper-container {
        box-shadow: 1px 1px 4px 0 rgba(16, 128, 234, 0.2);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

    .editor {
        padding: 10px;
        box-shadow: 1px 1px 3px 2px rgba(16, 128, 234, 0.2);
    }

    .tshirt-image-container {
        height: 200px;
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .dropzone {
        width: 100%;
        height: 200px;
        margin-bottom: 0;
    }

    .canvas-container {
        width: 100%;
    }
}


/* Portrait */
@media screen and (orientation: portrait) {
    /* Portrait styles here */
}

/* Landscape */
@media screen and (orientation: landscape) {
    .parent {
        width: 100%;
    }
    /* Landscape styles here */
}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation: landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation: portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation: landscape) {
}
